<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
      <script src="https://code.jquery.com/jquery-3.1.0.min.js" integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s=" crossorigin="anonymous"></script>
  </head>
  <body>
    <h1>Blog!</h1>
    <hr>
    <form class="new-post" action="/new-post" method="get">
      <input type="submit" name="new-post" value="Create new blog post!">
    </form>
    <form id="form" action="/posts" method="get">
      <h3>Search Posts</h3>
      <input name="title" type="text" id="search" />
    </form>
    <hr>
    <table>
      <tbody>
        <thead>
          <tr>
            <td>ID</td>
            <td>Title</td>
            <td>User ID</td>
            <td>Date</td>
          </tr>
        </thead>
        <% posts.forEach(function(row) { %>
          <tr>
            <td><%= row.id %></td>
            <td>
              <a href="/posts/<%= row.id %>"><%= row.title %></a>
            </td>
            <td><%= row.user_id %></td>
            <td><%= row.date %></td>
          </tr>
        <% }) %>
      </tbody>
    </table>
    <!-- <script type="text/javascript">
      $('#search').on('keydown', function() {
        var $title = $('#search').val();
        $('#form').attr('action', '/post' + $title);
      });
    </script> -->
  </body>
</html>
